.page-area {
    overflow: hidden;
    background-color: #2980B9;
}

.page-area > .container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
    -moz-box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
    -o-box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
    -ms-box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
    box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
}

.persons-list {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    /* max-height: 280px; */
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
}

.persons-list > div {
    width: 100px;
    padding: 15px;
    overflow: hidden;
}

.person-photo {
    overflow: hidden;
    max-height: 100%;
    flex-grow: 2;
}

.person-photo > img {
    max-width: 100%;
}

.person-details {
    overflow: hidden;
    flex-grow: 8;
}

.person-details > .table > tbody > tr > td,
.person-details > .table > tbody > tr > th,
.person-details > .table > tfoot > tr > td,
.person-details > .table > tfoot > tr > th,
.person-details > .table > thead > tr > td,
.person-details > .table > thead > tr > th {
    border-top: none;
}
