<app-header></app-header>
<div class="content-container page-area">
  <div class="container">
    <h4>Stolen Vehicles Information</h4>
    <form class="form search-form" [formGroup]="searchForm" novalidate (ngSubmit)="onSearchClick(searchForm.value)">
      <div class="row">
          <div class="col-md-3">
              <label for="">FIR No.</label>
              <input type="text" class="form-control" formControlName="fir_no" placeholder="FIR No.">
          </div>
          <div class="col-md-3">
              <label for="">FIR Date</label>
              <!-- <input type="text" class="form-control" formControlName="fir_date" placeholder="Missing Registration No."> -->
              <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" formControlName="fir_date" ngbDatepicker #d="ngbDatepicker">
                    <span class="input-group-addon" (click)="d.toggle()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
          </div>
          <div class="col-md-3">
              <label for="">Vehicle Type</label>
              <select formControlName="vehicle_type" class="form-control">
                  <option value="" selected="selected">Select Select Vehicle Type</option>
                  <option *ngFor="let item of vehilceTypes" [value]="item">{{ item }}</option>
              </select>
          </div>
          <div class="col-md-3">
              <label for="">Vehicle Make</label>
              <select formControlName="vehicle_make" class="form-control">
                  <option value="" selected="selected">Select Select Vehicle Make</option>
                  <option *ngFor="let item of vehilceMakes" [value]="item">{{ item }}</option>
              </select>
          </div>
      </div>

      <div class="row">
          <div class="col-md-3">
              <label for="">Vehicle Model</label>
              <input type="text" class="form-control" formControlName="vehicle_model" placeholder="Vehicle Model">
          </div>
          <div class="col-md-3">
              <label for="">Vehicle Registration No.</label>
              <input type="text" class="form-control" formControlName="vehicle_registration_no" placeholder="Vehicle Registration No.">
          </div>
          <div class="col-md-3">
              <label for="">Vehicle Engine No.</label>
              <input type="text" class="form-control" formControlName="vehicle_engine_no" placeholder="Vehicle Engine No.">
          </div>
          <div class="col-md-3">
              <label for="">Vehicle Chassis No.</label>
              <input type="text" class="form-control" formControlName="vehicle_chassis_no" placeholder="Vehicle Chassis No.">
          </div>
      </div>

      <div class="row">
        <div class="col-md-3">
            <label for="">Police Station</label>
            <select formControlName="police_station" class="form-control">
                <option value="" selected="selected">Select Police Station</option>
                <option *ngFor="let item of policeStations" [value]="item.ps_id">{{ item.ps_station_name }}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top: 22px;">Search</button>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="showDataView" style="margin-top: 15px; margin-bottom: 15px;">
        <!-- <p *ngIf="missingPersonsCount > 0">Found {{ missingPersonsCount }} records...</p> -->
        <div class="col-md-12 col-lg-12">
            <p style="padding: 5px 10px;" [ngClass]="{'bg-success': dataCount > 0, 'bg-danger': dataCount === 0}">{{ dataCount }} records found</p>
            <div class="persons-list" *ngFor="let item of stolenVehiclesData">
                <div class="person-photo">
                        <img src="http://spapp.sentr.co.in/uploads/stolen-vehicles/{{ item.photograph }}" alt="">
                        <span *ngIf="item.photograph === ''">No Photo Available</span>
                </div>
                <div class="person-details">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>FIR No.</th>
                                <td>{{ item.fir_no }}</td>
                            </tr>
                            <tr>
                                <th>FIR Date</th>
                                <td>{{ item.fir_date }}</td>
                            </tr>
                            <tr>
                                <th>Vehicle Type</th>
                                <td>{{ item.vehicle_type }}</td>
                            </tr>
                            <tr>
                                <th>Vehicle Make</th>
                                <td>{{ item.vehicle_make }}</td>
                            </tr>
                            <tr>
                                <th>Vehicle Model</th>
                                <td>{{ item.vehicle_model }}</td>
                            </tr>
                            <tr>
                                <th>Vehicle Registration No</th>
                                <td>{{ item.vehicle_registration_no }}</td>
                            </tr>
                            <tr>
                                <th>Vehicle Engine No</th>
                                <td>{{ item.vehicle_engine_no }}</td>
                            </tr>
                            <tr>
                                <th>Missing From</th>
                                <td>{{ item.vehicle_chassis_no }}</td>
                            </tr>
                            <tr>
                                <th>Police Station</th>
                                <td>{{ item.ps_station_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>