<app-header></app-header>
<div class="content-container page-area">
  <div class="container">
    <h4 class="ng-scope">Fir / Accident Information</h4>
    <form class="form search-form" [formGroup]="searchForm" novalidate (ngSubmit)="onSearchClick(searchForm.value)">
        <div class="row">
            <div class="col-md-3">
                <label for="crno">CR No.</label>
                <input type="text" class="form-control" formControlName="crno" placeholder="CR No." aria-invalid="false">
            </div>
            <div class="col-md-2">
                <label for="type">Type</label>
                <select formControlName="type" class="form-control" aria-invalid="false">
                    <option value="" selected="selected">Select Type</option>
                    <option value="FIR">FIR</option>
                    <option value="Accident Information">Accident Information</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="police_station">Police Station</label>
                <select formControlName="police_station" class="form-control">
                    <option value="" selected="selected">Select Police Station</option>
                    <option *ngFor="let item of policeStations" [value]="item.ps_id">{{ item.ps_station_name }}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="date">Select Date</label>
                <!-- <input type="text" class="form-control" formControlName="date" placeholder="YYYY-MM-DD" aria-invalid="false"> -->
                <!-- <date-picker formControlName="date"></date-picker> -->
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                    <span class="input-group-addon" (click)="d.toggle()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid" style="margin-top: 22px;">Search</button>
            </div>
        </div>
    </form>

    <div class="row" *ngIf="showDataView" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p style="padding: 5px 10px;" [ngClass]="{'bg-success': dataCount > 0, 'bg-danger': dataCount === 0}">{{ dataCount }} records found</p>

            <div class="persons-list" *ngFor="let item of firAccidentData">
                <div class="person-details">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th width="20%">Cr. No.:</th>
                                <td>{{ item.fa_crno }}</td>
                            </tr>
                            <tr>
                                <th>Information Type:</th>
                                <td>{{ item.fa_type }}</td>
                            </tr>
                            <tr>
                                <th>Date:</th>
                                <td>{{ item.fa_date }}</td>
                            </tr>
                            <tr>
                                <th>Police Station:</th>
                                <td>{{ item.fa_police_station_id }}</td>
                            </tr>
                            <tr>
                                <th>Download:</th>
                                <td><a href="{{ item.fa_attachment }}" target="_blank">{{ item.fa_filename }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-pdv-viewer" *ngIf="isShowPdfEnabled" style="margin-top: 15px;">
        <div class="pdf-viewer-header">
            <div class="row">
                <div class="col-md-4 pdf-navigation">
                    <button type="button" class="btn-prev" [disabled]="pdfViewerOptions.page === 1" (click)="prevPage()"><i class="glyphicon glyphicon-triangle-left"></i></button>
                    <button type="button" class="btn-next" [disabled]="pdfViewerOptions.page === totalPages" (click)="nextPage()"><i class="glyphicon glyphicon-triangle-right"></i></button>
                    <span class="page-switch">Show by Pages: <input type="checkbox" [(ngModel)]="pdfViewerOptions.showAll"></span>
                    <div class="page-selection">
                        <input type="text" [(ngModel)]="pdfViewerOptions.page">
                        <span class="totalPageCount">/ {{totalPages}}</span>
                    </div>
                </div>
                <div class="col-md-4 pdf-view-options">
                    <button type="button" class="btn-prev"><i class="glyphicon glyphicon-minus"></i></button>
                    <button type="button" class="btn-next"><i class="glyphicon glyphicon-plus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Full Width <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">100%</a></li>
                            <li><a href="#">70%</a></li>
                            <li><a href="#">60%</a></li>
                            <li><a href="#">50%</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pdf-options">
                    <button type="button" class="btn-next"><i class="glyphicon glyphicon-download-alt"></i></button>
                </div>
            </div>
        </div>
        <div class="pdf-viewer-body" style="height: 550px; overflow: hidden; overflow-y: auto;">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [(show-all)]="pdfViewerOptions.showAll" [(page)]="pdfViewerOptions.page" (after-load-complete)="afterLoadComplete($event)" style="display: block;"></pdf-viewer>
        </div>
    </div>

  </div>
</div>
<app-footer></app-footer>