<app-header></app-header>
<div class="content-container page-area">
  <div class="container">
    <h4 class="ng-scope">Fir / Accident Information</h4>
    <form class="form search-form">
        <div class="row">
            <div class="col-md-3">
                <label for="">CR No.</label>
                <input type="text" class="form-control" name="crno" [(ngModel)]="crno" placeholder="CR No." aria-invalid="false">
            </div>
            <div class="col-md-2">
                <label for="">Type</label>
                <select name="type" ng-model="type" class="form-control" aria-invalid="false">
                        <option value="" selected="selected">Select Type</option>
                    <option value="FIR">FIR</option>
                    <option value="Accident Information">Accident Information</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="">Police Station</label>
                <select name="policeStation" [(ngModel)]="policeStation" class="form-control">
                    <option value="" selected="selected">Select Police Station</option>
                    <option *ngFor="let item of policeStations" value="{{item.ps_id}}">{{ item.ps_station_name }}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="">Select Date</label>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date" uib-datepicker-popup="" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required" aria-invalid="false">
                        <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" aria-invalid="false"><!-- ngIf: isOpen --></div>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" style="margin-top: 22px;" (click)="onSearchClick()">Search</button>
            </div>
        </div>
    </form>
    
    <div class="custom-pdv-viewer" *ngIf="isShowPdfEnabled" style="margin-top: 15px;">
        <div class="pdf-viewer-header">
            <div class="row">
                <div class="col-md-4 pdf-navigation">
                    <button type="button" class="btn-prev" [disabled]="pdfViewerOptions.page === 1" (click)="prevPage()"><i class="glyphicon glyphicon-triangle-left"></i></button>
                    <button type="button" class="btn-next" [disabled]="pdfViewerOptions.page === totalPages" (click)="nextPage()"><i class="glyphicon glyphicon-triangle-right"></i></button>
                    <span class="page-switch">Show by Pages: <input type="checkbox" [(ngModel)]="pdfViewerOptions.showAll"></span>
                    <div class="page-selection">
                        <input type="text" [(ngModel)]="pdfViewerOptions.page">
                        <span class="totalPageCount">/ {{totalPages}}</span>
                    </div>
                </div>
                <div class="col-md-4 pdf-view-options">
                    <button type="button" class="btn-prev"><i class="glyphicon glyphicon-minus"></i></button>
                    <button type="button" class="btn-next"><i class="glyphicon glyphicon-plus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Full Width <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">100%</a></li>
                            <li><a href="#">70%</a></li>
                            <li><a href="#">60%</a></li>
                            <li><a href="#">50%</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pdf-options">
                    <button type="button" class="btn-next"><i class="glyphicon glyphicon-download-alt"></i></button>
                </div>
            </div>
        </div>
        <div class="pdf-viewer-body" style="height: 550px; overflow: hidden; overflow-y: auto;">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" [(show-all)]="pdfViewerOptions.showAll" [(page)]="pdfViewerOptions.page" (after-load-complete)="afterLoadComplete($event)" style="display: block;"></pdf-viewer>
        </div>
    </div>

  </div>
</div>
<app-footer></app-footer>