<div class="container-fluid">
  <div class="page-title">
      <h1 class="pull-left">Add FIR</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form" [formGroup]="addForm" novalidate (ngSubmit)="submitForm(addForm.value)">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="crno">CR No.</label>
            <input type="text" formControlName="crno" class="form-control" placeholder="CR No.">
          </div>
          <div class="form-group col-md-4">
            <label for="police_station">Police Station</label>
            <select formControlName="police_station" class="form-control">
              <option value="">Select Police Station</option>
              <option value="1">Palghar</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="date">Date</label>
            <input type="text" formControlName="date" class="form-control" placeholder="YYYY-MM-DD">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="attachment">Attachment</label>
            <input type="text" formControlName="attachment" class="form-control" placeholder="Attachment">
          </div>
          <div class="form-group col-md-4">
            <label for="filename">Filename</label>
            <input type="text" formControlName="filename" class="form-control" [ngModel]="addForm.value.crno + '/' + addForm.value.date" placeholder="FileName">
          </div>
          <div class="form-group col-md-4">
            <label for="type">Type</label>
            <input type="text" formControlName="type" class="form-control" placeholder="Type">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add FIR</button>
      </form>
    </div>
  </div>
</div>