<div class="container-fluid">
    <div class="page-title">
      <h1 class="pull-left">Users</h1>
      <a routerLink="/dashboard/users/add" class="btn btn-default pull-left">Add New</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- FIRS PANEL SECTION -->
        <div class="panel panel-default">
          <!-- <div class="panel-heading">
            <h4 class="panel-title">FIRs</h4>
          </div> -->
          <div class="panel-body tabled-body" style="height: 300px; overflow: auto;">
              <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Username</th>
                      <th>Police Station</th>
                      <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of usersData">
                    <td>{{ item.username }}</td>
                    <td>{{ item.ps_station_name }}</td>
                    <td>{{ item.role }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <!-- END OF FIRS PANEL SECTION -->
      </div>
    </div>
  </div>